<!DOCTYPE html>
<html>
  <head>
    <title>L'équipe se présente !</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css">
  </head>

  <div class="container">
  	<div class="row">
  	  <h1>Voici l'équipe !</h1>
  	</div>
  	<div class="row justify-content-center">
  	  <div class="col-5">
  	    <div class="card text-center" style="width: 20rem;">
  	      <div class="card-header text-primary">Donatella de Linares</div>
  	  	  <div class="card-body text-secondary text-wrap">
  	  		<p class="card-text">Moussaillon - 13ème session chez THP !</p>
  	  	  </div>
  	  	</div>
  	  </div>
  	</div>
   </div>
</html>